{% extends "mysite/base.html" %}

{% block title %}Список заданий{% endblock %}


{% block content %}
    <div class="border-bottom pb-3 mb-3">
        <h1>Задача: {{ task.title }}</h1>
        <p><strong>Описание:</strong> {{ task.description }}</p>
        <p><strong>Цена:</strong> {{ task.price }}</p>
        <p><strong>Срок выполнения:</strong> {{ task.deadline }}</p>

        {% if task.key_words %}
            <p><strong>Ключевые слова:</strong> {{ task.key_words }}</p>
        {% endif %}

        {% if task.categories.all %}
            <p><strong>Категории:</strong>
                {% for  category in task.categories.all %}
                {{ category.name }}
                {% endfor %}
            </p>
        {% endif %}
    </div>
{% endblock %}

