{% extends "mysite/base.html" %}

{% block title %}Главная Страница{% endblock %}



{% block content %}
<!-- Features Section -->
    <section id="features" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">Почему выбирают нашу платформу</h2>
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="card p-3 border-0">
                        <div class="card-body">
                            <h5 class="card-title">Простота</h5>
                            <p class="card-text">Интуитивно понятный интерфейс.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-3 border-0">
                        <div class="card-body">
                            <h5 class="card-title">Безопасность</h5>
                            <p class="card-text">Эскроу-система защищает сделки.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-3 border-0">
                        <div class="card-body">
                            <h5 class="card-title">Большая база</h5>
                            <p class="card-text">Тысячи проверенных исполнителей.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-3 border-0">
                        <div class="card-body">
                            <h5 class="card-title">Поддержка</h5>
                            <p class="card-text">Круглосуточная помощь пользователей.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
