{% extends "mysite/base.html" %}

{% block title %}Profile{% endblock %}


{% block content %}
<div class="container">
    <h1>Данные пользователя: {{ user.username }}</h1>
    <p><strong>Имя:</strong> {{ user.first_name }}</p>
    <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
</div>
{% if request.user == user %}
<a href="{% url 'mysite:edit_profile' %}" class="btn btn-primary">Редактировать</a>
{% endif %}


{% if profile %}
<hr>
<h2>Профиль исполнителя</h2>
<p><strong>Описание:</strong> {{ profile.description }}</p>
<p><strong>Категории:</strong>
    {% for category in profile.categories.all %}
    {{ category.name }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>
<p><strong>Скиллы:</strong>{{ profile.skills }}</p>
<p><strong>Опыт работы:</strong>{{ profile.experience }}</p>
<p>
    <strong>Оценки:</strong>
    <span class="text-success">{{ profile.like }}</span> /
    <span class="text-danger">{{ profile.dislike }}</span>
</p>
<p><strong>Выполнено задач:</strong> {{ profile.completed_tasks }}</p>
{% if request.user == user %}
<a href="{% url 'mysite:edit_portfolio' %}" class="btn btn-primary">Редактировать</a>
{% endif %}
{% endif %}
{% endblock %}
